@import "tailwindcss";

@theme {
  --font-sans: system-ui, -apple-system, sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-black text-white antialiased;
  }

  input,
  textarea,
  select {
    @apply appearance-none;
  }
}

@layer components {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
